/Makefile~
/chordial
/chordial.c~
/expt
/keybindings.c~
/keybindings.h~
/keypress.c~
/keypress.h~
/keypress.o
/test_fakekey.c~
/tfk
/x-experiments.c~
/xex
/x-experiments-old.c
/exo
/chx
/clean
/cleanch.c~
/take2/keybindings.c~
/take2/keybindings.h~
/take2/send_char.c~
/take2/send_keycode.c~
/sendeky.h~
/sendkey.c~
/sendkey.h~
/sendkey.o
/tests
/tests.c~
/tests.o
/capture_input.c~
/#event_handler.c#
/.#event_handler.c
/config.h~
/event_handler.c~
/event_handler.h~
